.header{
    margin-top: 30px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Quantico', sans-serif;
    color: rgb(37, 36, 36);
}

.headerTitleSm{
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.headerTitleLg{
    position: absolute;
    top: 20%;
    font-size: 70px;
} 


.headerImg{
    width: 100%;
    height: 550px;
    margin-top: 30px;
    object-fit: cover ;
}